{% extends "base.html" %}
{% block content %}
<div class="description">
  <div class="descinfo">
    <h1 style="text-align: center;color: rgb(27,27,27);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">HOUSE RENT PREDICTION</h1>
    <div class="logo"><span class = "color"></span></div> It is the web based application developed / powered by machine learning and deep learning algorithms to predict the house rent with high Robutness and Efficiency. Below upload the CSV file with required columns to predict the rent efficiently.
  </div>
</div>
  <div class="wrapper-form">
    <header>Upload CSV File</header>
    <form method="post" action="/result" enctype="multipart/form-data"  id = 'filepicker' >
      <div class="file-form-item">
      <div id="pickingarea">
      <input type = 'file' class = 'file-input' id = 'browser' name="file" autocomplete="off" required  hidden >
      <i class = 'fas fa-cloud-upload-alt'></i>
      <p>Browse file to Upload</p>
    </div>
    <section class = 'uploaded-area'></section>
    </div>
  <div class="form-grid"></div>
  <button type="submit" value="Submit">Predict</button>
    </form>
  </div>
      <p>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
      <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      </p>

<img src="https://storage.googleapis.com/kaggle-competitions/kaggle/5407/media/housesbanner.png" alt="" width='100%' style='position:fixed;bottom: 0px;z-index: -1;'>
{% endblock %}

