.navbar {
  background-color: rgb(26,26,26);
}
.navbar-nav {
  margin-left: auto;
}
.navbar-brand {
  margin: auto;
}
.navbar-brand h4,
.navbar-brand span {
  font-size: 40px;
  font-weight: 900;
}
.color {
  color: tomato;
}
.color-alt{
  color:rgba(255, 255, 255, 0.9);
}
.nav-item {
  font-size: 1.2em;
  font-weight: bold;
}

.navbar-items a{
  color: tomato !important;
}